@model IEnumerable<StackUnderflowRDC.Entities.Comment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedAt)
            </td>
            <td>
                @using (Html.BeginForm("UpVote", "Comments", FormMethod.Post, new { id = "UpVote" }))
                {
                    <input hidden value="@item.Id" name="id" />
                    <button type="submit">Up</button>
                }

                @using (Html.BeginForm("DownVote", "Comments", FormMethod.Post, new { id = "DownVote" }))
                {
                    <input hidden value="@item.Id" name="id" />
                    <button type="submit">Down</button>
                }

            </td>
        </tr>
}
    </tbody>
</table>
