@using Microsoft.EntityFrameworkCore
@using StackUnderflowRDC.Entities
@*@model StackUnderflowRDC.Entities.Question*@
@model StackUnderflowRDC.Entities.DTO.QuestionDto
@*@model StackUnderflowRDC.Entities.Comment*@

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal" style="color:purple">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.PostedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.PostedAt)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.AnswerId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AnswerId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Score)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Score)
            </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Question.Answered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Answered)
            @*@Html.DisplayFor(model => model.Responses)*@
        </dd>
    </dl>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
        <span>
            <a asp-action="ResponseCreate" asp-route-id="@Model.Question.Id" style="color:blue;">Answer the Question</a> |
        </span>
        }
        <a asp-action="Index">Back to List</a>
    </div>
    @foreach (var response in Model.Responses)
    {
    <dl class="dl-horizontal" style="color:blue;">
        <dt>
            @Html.DisplayNameFor(x => response.Response.Author)
        </dt>
        <dd>
            @Html.DisplayFor(x => response.Response.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(x => response.Response.Score)
        </dt>
        <dd>
            @Html.DisplayFor(x => response.Response.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(x => response.Response.Body)
        </dt>
        <dd>
            @Html.DisplayFor(x => response.Response.Body)
        </dd>
        <dt>
            Buttons
        </dt>
        <dd>
            @if (User.Identity.IsAuthenticated)
            {
                <span>
                    @using (Html.BeginForm("UpVote", "Questions", FormMethod.Post, new { id = "UpVote" }))
                    {
                        <input hidden value="@response.Response.Id" name="id" />
                        <button type="submit">Uptoot</button>
                    }
                    |
                    @using (Html.BeginForm("DownVote", "Questions", FormMethod.Post, new { id = "DownVote" }))
                    {
                        <input hidden value="@response.Response.Id" name="id" />
                        <button type="submit">Downtoot</button>
                    }
                </span>
            }

        </dd>
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                    <a asp-action="CommentCreate" asp-route-id="@response.Response.Id" style="color:red;">Comment on the response</a>
                </div>
            }

        </dl>
        if (response.Comments.Any())
        {
            foreach (var responseComment in response.Comments)
            {
                <dl class="dl-horizontal" style="color:red;">
                    <dt>
                        @Html.DisplayNameFor(x => responseComment.Author)
                    </dt>
                    <dd>
                        @Html.DisplayFor(x => responseComment.Author)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(x => responseComment.Body)
                    </dt>
                    <dd>
                        @Html.DisplayFor(x => responseComment.Body)
                    </dd>
                </dl>
            }
        }
        <div> ------------------------------------------------------------------------------------------------------------------------------------------------------------------- </div>
    }
</div>
