@using Microsoft.EntityFrameworkCore
@using StackUnderflowRDC.Entities
@model StackUnderflowRDC.Entities.Question
@*@model StackUnderflowRDC.Entities.Comment*@

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostedAt)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.AnswerId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AnswerId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Score)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Score)
            </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Answered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Answered)
            @*@Html.DisplayFor(model => model.Responses)*@
        </dd>
    </dl>
    <div>
        <a asp-action="ResponseCreate" asp-route-id="@Model.Id">Answer the Question</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    @foreach (var response in Model.Responses)
    {
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(x => response.Author)
        </dt>
        <dd>
            @Html.DisplayFor(x => response.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(x => response.Score)
        </dt>
        <dd>
            @Html.DisplayFor(x => response.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(x => response.Body)
        </dt>
        <dd>
            @Html.DisplayFor(x => response.Body)
        </dd>
        <button type="button" onclick="location.href='@Url.Action("UpVote","Comments", response.Id)'">Updoot</button> |
        <button type="button" onclick="location.href='@Url.Action("DownVote","Comments", response.Id)'">Downdoot</button>
    </dl>
        @*foreach (var responseComment in response.Comments)
         {
             <dl class="dl-horizontal">
                 <dt>
                     @Html.DisplayNameFor(x => response.Author)
                 </dt>
                 <dd>
                     @Html.DisplayFor(x => response.Author)
                 </dd>
                 <dt>
                     @Html.DisplayNameFor(x => response.Body)
                 </dt>
                 <dd>
                     @Html.DisplayFor(x => response.Body)
                 </dd>
             </dl>
         }*@
    }
</div>
